<ion-view >
    <ion-content scroll="false" >
      <!-- <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on"> -->
  
         
<label class="item item-input item-stacked-label">
  
    <span class="input-label" style="text-align: center;font-size:15px; font-weight:bold;color:#1775b5">Request Location</span>
    <button menu-toggle="left" style="float:left" class="button button-icon icon ion-navicon"></button> 
    <input type="text"  style="text-align: center" id="searchTextField" placeholder="Go To Pin">
  </label>

        <!-- <label class="item-input-wrapper" >
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
          
          <input  id="searchTextField" type="text" style="text-align: center;font-size:15px; font-weight:bold;color:#1775b5" placeholder="Request Location" autocomplete="on"><h1>
      Go To Pin
    </h1>
          <img src="..\img\search_icon.png" height="25px" item-render-buffer="10px">
        </label> -->
        <!-- <a class="item " ng-click="centerOnMe()" style="text-align: center">
                       <img src="..\img\location_icon.png" item-render-buffer="30px"> Use my current location
                    </a> -->
        
      <div> <img src="..\img\location_icon.png" height="25px" item-render-buffer="10px" ng-click="centerOnMe()"> <span style="text-align: center;font-size:17px" > Use my current location </span>
     </div> 
      <map on-create="mapCreated(map)"></map>
    </ion-content>

</ion-view>