<ion-view title="Login">
  <ion-content class="has-header">
    <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-positive" ng-click="login(data)">Sign In</button>
      <div >
      <button id="button1" ng-click="googleSignIn()">Sign in with Google</button>
      <button id="button2" ng-click="facebookSignIn()">Sign in with Facebook</button>
      </div>
  </ion-content>
</ion-view>
