<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <ion-content class="has-header">
      <ion-list>
        <div class="item item-avatar">
          <img src="..\img\avatar-1.jpg">
          <p class="title">Lawrence</p>
        </div>

        <ion-item nav-clear menu-close href="#/app/bookorder">
          <ion-thumbnail item-left>
            <img src="..\img\book_order_icon.png">
          </ion-thumbnail>
          Book Order
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/bookings">
          <ion-thumbnail item-left>
            <img src="..\img\bookings_icon.png">
          </ion-thumbnail>
          Bookings
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/pricelist">
          <ion-thumbnail item-left>
            <img src="..\img\price_list_icon.png">
          </ion-thumbnail>
          Price List
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/payment">
          <ion-thumbnail item-left>
            <img src="..\img\payment_icon.png">
          </ion-thumbnail>
          Payment
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/account">
          <ion-thumbnail item-left>
            <img src="..\img\account_icon.png">
          </ion-thumbnail>
          Account
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/share">
          <ion-thumbnail item-left>
            <img src="..\img\share_icon.png">
          </ion-thumbnail>
          Share
        </ion-item>
      </ion-list>
      <button class="button button-block button-assertive" ng-click="logout()"> <img src="..\img\logout_icon.png" />Logout </button>
      <!-- <button class="button button-block button-assertive" ng-click="logout()"> 
        
Logout</button> -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>