<ion-view view-title="GoogleMap">
<ion-content scroll="false">
          <!-- <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on"> -->
          <ion-header-bar class="bar-calm item-input-inset">
        
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input id="searchTextField" type="text" placeholder="Enter a location" autocomplete="on">
        </label>
      </ion-header-bar>

<button class="btn btn-primary" ng-click="calcRoute()">Get Directions</button>

      <map on-create="mapCreated(map)"></map>
    </ion-content>
    </ion-view>

    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>

    