<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
  </head>

  <body ng-app="starter" >
     <ion-nav-view></ion-nav-view>
    <!-- <ion-header-bar class="bar-stable">
      <h1 class="title">Service App</h1>
    </ion-header-bar>
    
    <ion-content scroll="false">
          <!-- <input id="searchTextField" type="text" size="50" placeholder="Enter a location" autocomplete="on"> -->
          <!-- <ion-header-bar class="bar-calm item-input-inset">
        
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input id="searchTextField" type="search" placeholder="Enter a location" autocomplete="on">
        </label>
      </ion-header-bar>

<button class="btn btn-primary" ng-click="calcRoute()">Get Directions</button>

      <map on-create="mapCreated(map)"></map>
    </ion-content> --> -->

    
  </body>
</html>