/* Empty. Add your own CSS if you like */

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
.noDisplay {
	display: none;
}


.item-input-wrapper{
  background-color: white;
}

label {
    line-height:.7em; 
    text-align: center;
    font-size: .85em;
}
   .left-image{
      float:left;
      max-width: 80px !important;
      max-height: 80px !important;
    }
    #button1{
    width: 200px;
    height: 40px;
}
#button2{
    width: 200px;
    height: 40px;
}
#container{
    text-align: center;
}